<!DOCTYPE html>
<html>
<head>
    <title>Hello World</title>
    <style>
        body {
            background-image: url('/static/background.jpeg'); /* Correct path to the static folder */
            background-size: cover;
            background-position: center;
            color: white;
            font-size: 48px;
            text-align: center;
            margin-top: 20%;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    Hello, World! My name is Suraj and this is my first project in Python!!!
</body>
</html>
